@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Lato:ital,wght@0,700;1,400&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

*{
      margin:0;
      padding:0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
body{
        padding:2rem 8rem;
       background-color: rgb(14, 219, 247);
}

.accordian{
        padding:12px 16px;
        background-color: white;
        margin:10px;
        border-radius: 5px;
        box-shadow: 4px 4px 5px rgb(0, 68, 255);
        cursor: pointer;

}

.question{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:5px;
}
.question h2{
      color:rgb(26, 25, 25);
}
.icon{
       margin-right:6px;
       font-size:30px;
       text-align: center;
       color: black;
       transition: transform 0.2s;
}
.icon.active{
       transform: rotate(-138deg);
}
.answer{
      color:rgb(66, 64, 64);
      max-height: 0;
      overflow: hidden;
      transition: 0.5s max-height;
}
